html{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f5c30a ;

}

body {

  font-family: 'Cardo', serif;

 


}

@media all and (orientation: portrait){
  .cabezazo{
    width: 80vw;
    margin-left: 7vw;
    padding: 20px;
  
    
}

.saludo{
    text-align: center;
    font-size: 6em;
    font-style: italic;
    color:#490904;
    font-family: 'Montserrat', sans-serif;
    
}
.explica{
  font-size: 2.5em;
  color:#490904;
  font-weight:bolder;
}

}




.cajitas{
    position: fixed;
    width: 80vw;
    height: 35vh;
    margin-left: 10vw;
    bottom: 2em;
}

  .excusatio{
      color: red;
      font-size: 1em;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 

/*Formulario responsive*/
* {
    box-sizing: border-box;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  ::-webkit-input-placeholder {
    color: rgb( 44, 46, 255 );
    font-family: Arial;
    font-size: 32px;
    font-weight: bold;
    }
    ::-moz-placeholder {
    color: rgb( 44, 46, 255 );
    font-family: Arial;
    font-size: 32px;
    font-weight: bold;
    }
    :-ms-input-placeholder {
    color: rgb( 44, 46, 255 );
    font-family: Arial;
    font-size: 32px;
    font-weight: bold;
    }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }



  /*Orientación de la pantalla*/
  @media all and (orientation: landscape){
    html{
        
    }
    .cabezazo{
      width: 80vw;
      margin-left: 7vw;
      padding: 20px;
    }
    .explica{
      font-size: 1.5em;
      color:#490904;
      font-weight:bolder;
    }

    .saludo{
      text-align: center;
      font-size: 3em;
      font-style: italic;
      color:#490904;
      font-family: 'Montserrat', sans-serif;
      
  }
  .btn{
    margin-left: 25vw;
    height: 6vh;
    width: 15vw;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #f5c30a ;
    color:#490904;
    font-weight: 500;
    font-size: 1em;
}
    .cajitas{
        position: fixed;
        width: 80vw;
       height: 55vh;
        margin-left: 5vw;
        bottom: 0.5em;
    }
 footer{
  visibility: hidden;
}

  }

  @media all and (orientation: portrait){
    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        font-size: 2.5em;
        margin-top: 5vh;
      }
      input, select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: horizontal;
      }
      ::-webkit-input-placeholder {
        color: rgb( 44, 46, 255 );
        font-family: Arial;
        font-size: 32px;
        font-weight: bold;
        }
        ::-moz-placeholder {
        color: rgb( 44, 46, 255 );
        font-family: Arial;
        font-size: 32px;
        font-weight: bold;
        }
        :-ms-input-placeholder {
        color: rgb( 44, 46, 255 );
        font-family: Arial;
        font-size: 32px;
        font-weight: bold;
        }
        .btn{
          margin-left: 25vw;
          height: 3vh;
          width: 20vw;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          background-color: #f5c30a ;
          color:#490904;
          font-weight: 500;
          font-size: 1em;
}
  }
