html{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {


/* Ubicación de la imagen */

background-image: url(dibus/3556531.webp);

/* Para dejar la imagen de fondo centrada, vertical y

horizontalmente */

background-position: center center;

/* Para que la imagen de fondo no se repita */

background-repeat: no-repeat;

/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

background-attachment: fixed;

/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

background-size: cover;

/* Se muestra un color de fondo mientras se está cargando la imagen

de fondo o si hay problemas para cargarla */



}


.cabezazo{
    width: 80vw;
    margin-left: 7vw;
    padding: 20px;
    background: #FFEEEE;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DDEFBB, #FFEEEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

.saludo{
    text-align: center;
    font-size: 3.5em;
    font-style: italic;
    color:  #7b241c;
    font-weight:bolder;
    
}


